
table{
    color: black;
    margin: 0 auto;
    padding: 70px 0;
    max-width: 900px;
}

tr{
    height: 40px;
    font-size: 20px;
}

th{
    text-align: center;
    background-color: #787878;;
    color: #ECECEC;
    font-family: Arial;
  
}

td{
    width: 100px;
    height: 40px;
    background-color: #E4E4E4;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;     
}

#delete-icon{
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    color: red;
}   
