
table{

    color: black;
    margin: 70px auto;
    padding: 20px 0; /* Adjusted padding for better spacing */
    max-width: 100%; /* Make the table responsive */
    border-collapse: collapse; /* Add this to collapse table borders */
    
}


tr{
    height: 50px;
    font-size: 18px; 
    
} 


th{
    background-color: #787878;
    color: #ECECEC;
    font-family: Arial;
}

td{
    font-size: 1.3rem;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #787878;
    text-align: center;

}

th#column-description,
td#column-description{
    width: 500px;

}

th#column-category,
td#column-category {
    width: 150px;
}


th#column-action,
td#column-action {
    width: 45px;
}
#delete-icon{
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    color: red;
}   


@media (max-width: 767px){

    thead{
        display: none;
    }
    tbody{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
        gap: 10px;
      
       
    }
    td{ 
     
        background-color: #5F5CF3;
        border: none;
        color: white;
    }

    tr{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
        height: 15vh;
        margin: 0px 10px ;
        text-align: center;
    }

    td[data-title="descricao"]{
        grid-column: 1/4;
        grid-row: 1;
        font-size: 1.5rem;
        font-family: monospace;
    }

    td[data-title="valor"]{
        font-size: 1.2rem;
        grid-column: 1 / 4;
        grid-row: 2;
        font-size: 2.5rem;
        font-weight: bold;
    }

    td[data-title="data"]{
        font-size: .5em;
        grid-column: 1;
        grid-row: 3;
        font-weight: bold;
        font-size: 1rem;
    }

    td[data-title="ação"]{
        font-size: .5em;
        grid-column: 3;
        grid-row: 1;
        text-align: center;
        font-size: 1rem;
        color: black;

    }

    td[data-title="transacao"]{
        font-size: .7em;
        grid-column: 2;
        grid-row: 3;
        font-size: 1rem;
        font-weight: bold;

    }

    td[data-title="categoria"]{
        font-size: .7em;
        grid-column: 3;
        grid-row: 3;
        font-weight: bold;
        font-size: 1rem;
        
    }
 
    #delete-icon{
        font-size: 1.6rem;
        text-align: right;
        color: black;

    }
    #delete-icon:hover{
       color: red;
    }
    
}