*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    color: var(--title-color, #F5F5F5);
    color: var(--text-color, #ECECEC);

}


.section_controller{
    max-width: 900px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}


tr{
    height: 40px;
    font-size: 20px;
}

th{
    text-align: center;
    background-color: #787878;;
    color: #ECECEC;
    font-family: Arial;
}

td{
    width: 100px;
    height: 40px;
    background-color: #E4E4E4;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 700px){
    .section_controller{
        grid-template-columns: 1fr 1fr;

    }
   
}

@media (max-width: 420px){
    .section_controller{
        grid-template-columns: 1fr;
        grid-gap: 15px;
        margin: 0 auto;
    }
}